#
# .gitignore file to help keep unwanted files out of the repository
#   
#   Dave Tedeschi - Univ. of South Carolina  - 2016
#

# some standard extensions
*.a
*.dylib
*.pyc
*.pcm
*DICT.C
*DICT.h
.depend
.*.swp
*.o
*.so
*.dSYM
*.rootmap
*~
*.*~

# latex extras
Doc/*.aux
Doc/*.log

