#
# .gitignore file to help keep unwanted files out of the repository
#   
#   Dave Tedeschi - Univ. of South Carolina  - 2016
#

# some standard extensions
*.a
*.dylib
*.pyc
*.pcm
*DICT.C
*DICT.h
.depend
.*.swp
*.o
*.so
*.dSYM
*.rootmap
*~
*.*~

# latex extras
Doc/*.aux
Doc/*.log

# keep the data directories, but not the content

#VetoDisplay/output/2/*.pdf
#VetoDisplay/output/3/*.pdf
#VetoDisplay/output/4/*.pdf
#VetoDisplay/output/5/*.pdf
#VetoDisplay/output/6/*.pdf
#VetoDisplay/output/7/*.pdf
#VetoDisplay/output/8/*.pdf
#VetoDisplay/output/9/*.pdf
#VetoDisplay/output/other/*.pdf
#VetoDisplay/output/plots/*.pdf

#Landscape/output/*.pdf
